h1 {
    color: white;
}

.clickable {
    cursor: pointer;
}

.btn-primary-true{
    background-color: #45B29D;
    color:white;

}

.btn-primary-false{
    background-color: #DF4949;
    color:white;

}